/************************/
/*  Basic               */
/************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}


.navbar-header {
    height: 85px;
 }

.navbar-brand {
    padding-left: 20px;
}

.pad-right-0{
    padding-right: 0px;
}

.pad-left-0{
    padding-left: 0px;
}

.pad-0{
	padding-left: 0px;
	padding-right: 0px;
}

/************************/
/*  Banner              */
/************************/
#banner {
    border-top:solid;
	border-width: 1px;
    border-top-color:#666D7F;
    background-color: #ED594D;
    background-image: radial-gradient(top,#C84D46, #ED594D);
  height: 90px; 
}

#banner h1 {
  padding-top: 30px;
  padding-left: 20px;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 30px;
}
    
/************************/
/*  Footer              */
/************************/
footer {
  clear: both;
  background-color: #3a3e4a;
  color: #ffffff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  height: 50px;
  margin-top: -75px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

}
footer li:before {
  content: ' | ';
}
footer li:first-child:before {
  content: '';
}
footer li {
  display: inline-block;
  font-size: 12px;
}
footer li a:link {
  color: #ffffff;
  text-decoration: none;
}
footer li a:visited {
  color: #ffffff;
  text-decoration: none;
}
footer li a:focus {
  color: #ffffff;
  text-decoration: underline;
}
footer li a:hover {
  color: #ffffff;
  text-decoration: underline;
}
footer li a:active {
  color: #ffffff;
  text-decoration: underline;
}
/************************/
/*  Content             */
/************************/
html {
    height: 100%;
}

body {
    height: 100%;
}

.container-fluid{
    max-width: 1200px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#content {
  margin: 20px 0px 20px 0px;
}
#opening {
  float: left;
  padding-left: 25px;
}
#contact {
  float: right;
  margin-right: 120px;
}
.toggle {
  cursor: pointer;
}
.togglecontent {
  padding: 20px 0px;
}
.panel-primary > .panel-heading{
    background-image: none;
    background-repeat: no-repeat;
    background-color: #ffffff;
    color:#3A3E4A;
}
.panel-primary{
    border: none;
    color:#3A3E4A;
	margin: 0px 10px;
}
.panel-heading{
    border: none;
    color:#3A3E4A;
}
.panel-heading h3{
    font-size: 22px;
    font-weight:600;
    color:#3A3E4A;
}
.panel-body{
    font-size:16px;
    font-weight:200;
    color:#3A3E4A;
}

.panel-body i{
    font-size: 12px;
}

.panel-group {
	margin: 40px 10px;
}

.circle {
    background-color: #ED594D;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100px;
    padding: 4px;
    color: #ffffff;
    margin: 1px 10px 1px 0px;
}


#map_canvas{
    height: 200px;
    display: block;
    padding:0;
    margin: 0;
}

.form-control:focus {
    border-color: #ED594D;
    outline: 0;
    box-shadow: none;
}

.red {
    color: #ED594D;
}

.black{
    color: #000;
}

.panel{
    border: 0;
}

.panel-body{
    /*font-size: 18px;*/
}

.therapieHeader{
    text-align: center;
    color:  #ED594D;
    margin-bottom: 5px;
}

label.top{
    margin-top: 5px;
}

@media (max-width: 450px){
    h2 {
        font-size: 15px;
    }
    .navbar-header {
        height: 50px;
    }

    #banner {
        height: 30px;
    }

    #banner h1 {
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    footer {
        height: 80px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
