RewriteEngine On
RewriteRule ^kontakt$ \kontakt.php [NC,L]
RewriteRule ^praxis$ \sites\praxis.php [NC,L]
RewriteRule ^therapie$ \sites\therapie.php [NC,L]
RewriteRule ^administration$ sites\adminpanel\adminpanel.php [NC,L]

