Options -MultiViews
RewriteEngine On
RewriteBase /
RewriteRule startseite$ index.php [NC,L]
RewriteRule kontakt$ sites/kontakt.php [NC,L]
RewriteRule praxis$ sites/praxis.php [NC,L]
RewriteRule therapie$ sites/therapie.php [NC,L]
RewriteRule admin$ sites/adminpanel/index.php [NC,L]


